html, body {
    height: 100%;
    margin: 0;
}

header {
    height: 60px;
    background: #222;
    color: white;
}

.app {
    display: flex;
    height: 100%;
}

aside {
    width: 240px;
    background: #ddd;
}

main {
    background: #f5f5f5;
}