html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #222;
    color: white;
    padding: 0 20px;
}

.app {
    display: flex;
    height: calc(100vh - 60px);
}

aside {
    width: 240px;
    background: #ddd;
    padding: 0 0 0 16px;
}

main {
    background: #f5f5f5;
    overflow-y: auto;
    padding: 0 16px;
}